body {
	font-family: -apple-system,BlinkMacSystemFont,Avenir,"Avenir Next","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue";
	padding: 3em 30%;
}

h1, h2, h3 {
	text-align: center;
}
